<div class="container">

	<div class="center">
		<h1 class="center text-muted">Post</h1>
		<hr>
	</div>

	<div class="media bg-white" style="border-radius: 4px; padding: 20px;">

		<a href="/userProfile/{{post.postUser._id}}">
			<img src="{{post.postUser.image}}" class="mr-3 chatroom-users" style="border-radius: 4px;">
		</a>

		<div class="media-body">

			<h5 class="mt-0 text-muted">{{post.title}}
				<small> <i class="{{post.icon}}"></small></i>
			</h5>

			<a href="/userProfile/{{post.postUser._id}}">
				<h5 class="mt-0 text-muted"><small>{{post.postUser.fullname}}</small></h5>
			</a>

			<p>{{post.body}}</p>

			{{#if post.image}}
			<img src="{{post.image}}" class="" width="100px" style="border-radius: 4px;">
			<br>
			{{/if}}

			<small>{{getLastMoment date ''}}</small>
			<hr>


			{{#each post}}
			{{#each comments}}

			<div class="media mt-3">

				<a class="mr-3" href="/userProfile/{{commentUser._id}}">
					<img src="{{commentUser.image}}" class="mr-3 chatroom-users" style="border-radius: 4px;">
				</a>

				<div class="media-body">
					<p>{{commentBody}}</p>
					<small>{{getLastMoment date 'hour'}}</small>
				</div>

			</div>
			<hr>

			{{/each}}
			{{/each}}

			{{#each post}}
			{{#each likes}}

			<div class="media mt-3">

				<a class="mr-3" href="/userProfile/{{likeUser._id}}">
					<img src="{{likeUser.image}}" class="mr-3 chatroom-users" style="border-radius: 4px;">
				</a>

				<div class="media-body">
					<h5 class="mt-0"><i class="fa fa-heart red"></i></h5>
					<small>{{getLastMoment date 'hour'}}</small>
				</div>

			</div>
			<hr>

			{{/each}}
			{{/each}}

			<h4>
				<a href="/likePost/{{post._id}}" class="btn btn-danger"><i class="fa fa-heart"></i></a>
				{{#if post.allowComments}}
				<a onclick="displayCommentForm()" id="comment-icon" href="#" class="btn btn-primary"><i
						class="fa fa-comment"></i></a>
				{{/if}}
			</h4>

			{{!-- {{#if post.allowComments}} --}}

			<form action="/leaveComment/{{post._id}}" method="POST" class="" id="comment_form" style="display: none;">
				<br>
				<div class="form-group">
					<input type="text" name="commentBody" class="form-control" placeholder="Leave comment...">
				</div>
				<button class="btn btn-primary " type="submit"><i class="fa fa-comment"></i> Submit</button>
			</form>

			<script>
				function displayCommentForm() {
					document.getElementById('comment-icon').style.display = 'none';
					document.getElementById('comment_form').style.display = 'inline';
				}
			</script>
			{{!-- {{/if}} --}}

		</div>
	</div>

</div>
