<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		{{!-- <a href="/displayPostForm" class="btn btn-primary">Create Post</a> --}}
		<hr>
	</div>

	{{#each posts}}

	<div class="card" style="margin-bottom: 15px; padding: 10px;">
		<div class="media">

			<a href="/userProfile/{{postUser._id}}">
				<img src="{{postUser.image}}" class="mr-3 chatroom-users" style="border-radius: 4px;">
			</a>

			<div class="media-body">

				<h5 class="mt-0 text-muted">{{title}}
					<small> <i class="{{icon}}"></small></i>
				</h5>

				<a href="/userProfile/{{postUser._id}}">
					<h5 class="mt-0 text-muted"><small>{{postUser.fullname}}</small></h5>
				</a>

				<p>{{body}}</p>

				{{#if image}}
				<a href="/fullPost/{{_id}}">
					<img src="{{image}}" class="img-fluid" style="border-radius: 4px;">
					<br>
				</a>
				{{/if}}


				<small class="text-muted">{{getLastMoment date 'hour'}}
					<a href="/fullPost/{{_id}}" class="pull-right">View More</a>
				</small>

				<h4>
					<a href="/likePost/{{_id}}" class="red"> <i class="fa fa-heart-o"></i></a>

					{{#if allowComments}}
					<a href="/fullPost/{{_id}}" class=""> <i class="fa fa-comment-o"></i></a>
					{{/if}}
				</h4>

			</div>
		</div>
	</div>

	{{!-- <div class="card mb-3" style="">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{{image}}" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{title}} <small> <i class="text-muted fa fa-globe"></i> </small></h5>

					<a href="/userProfile/{{postUser._id}}">
						<h5 class="text-muted"><small>{{postUser.fullname}}</small></h5>
					</a>

					<p class="card-text">{{body}}</p>
					<p class="card-text"><small class="text-muted">{{getLastMoment date 'hour'}}</small></p>
				</div>
			</div>
		</div>
	</div> --}}

	{{else}}

	<h3 class="text-muted center"><small> No posts found...</small></h3>

	{{/each}}
</div>
