<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="row">
		<div class="col-lg-12" style="display: flex; justify-content: space-evenly; margin-top: 20px;">

			<a href="/userProfile/{{chat.sender._id}}">
				<img src="{{chat.sender.image}}" class="card" width="100px">
				<h5 class="text-muted center"><small>{{chat.sender.fullname}}</small></h5>
			</a>

			<a href="/userProfile/{{chat.receiver._id}}">
				<img src="{{chat.receiver.image}}" class="card" width="100px">
				<h5 class="text-muted center"><small>{{chat.receiver.fullname}}</small></h5>
			</a>

		</div>
	</div>

	<div id="messages" style="margin-top: 10px; padding: 15px 20px;" class="card">

		{{#each chat}}
		{{#each chats}}
		{{#if senderMessage}}

		<div class="media">

			<a href="/userProfile/{{senderName._id}}">
				<img src="{{senderName.image}}" class="mr-3 chatroom-users" alt="...">
			</a>

			<div class="media-body">
				<p class="mt-0">{{senderMessage}}</p>
				<small>{{getLastMoment date 'hour'}}</small>
			</div>

		</div>

		<hr>
		{{/if}}

		{{#if receiverMessage}}

		<div class="media">

			<a href="/userProfile/{{receiverName._id}}">
				<img src="{{receiverName.image}}" class="mr-3 chatroom-users" alt="...">
			</a>

			<div class="media-body">
				<h5 class="mt-0">{{receiverMessage}}</h5>
				<small>{{getLastMoment date 'hour'}}</small>
			</div>

		</div>
		<hr>
		{{/if}}

		{{/each}}
		{{/each}}

	</div>

	<div class="">
		<form action="/chat/{{chat._id}}" method="POST">
			<input type="text" class="form-control" name="chat" placeholder="Type message..." style="margin-top: 10px;">
			<br>
			<button class="btn btn-primary" type="submit">Send</button>
		</form>
	</div>

</div>
