<div class="row">

	<div class="col-sm-4">

		<div class="card" style="width: 100%;">
			<a href="/uploadImage">
				<img src="{{user.image}}" class="card-img-top" alt="...">
			</a>
			<div class="card-body">

			</div>
		</div>

	</div>

	<div class="col-sm-8" id="profile-info">
		{{!-- <h3>Profile</h3> --}}
		<h3 class="card-title"> {{user.fullname}}</h3>
		<small class="text-muted">Location</small>
		<hr>

		<p class="card-text">
			<i class="fa fa-envelope"></i> {{user.email}}
		</p>

		<p class="card-text">
			<i class="fa fa-venus-mars"></i> {{user.gender}}
		</p>

		<p class="card-text">
			<i class="fa fa-file-text-o"></i> {{user.about}}
		</p>
		<br>

		<hr>
		<button class="btn btn-info" onclick="editProfile()">Edit Profile</button>
		<a href="/confirmDelete" class="btn btn-danger">Delete Profile</a>
	</div>


	<div class="col-sm" id='profileEditor' style="display: none;">

		<form action="/updateProfile" method="POST">

			<div class="form-group">
				<input type="text" name="fullname" id="fullname" value="{{user.fullname}}" class="form-control">
			</div>

			<div class="form-group">
				<input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
			</div>

			<div class="form-group">
				<select name="gender" id="gender" class="form-control">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>

			<div class="form-group">
				<input type="text" name="about" id="about" value="{{user.about}}" class="form-control">
			</div>

			<button type="submit" class="btn btn-primary">Save</button>

		</form>

	</div>

</div>

<script>
	function editProfile() {
		document.getElementById('profile-info').style.display = 'none';
		document.getElementById('profileEditor').style.display = 'block';
	}
</script>
