<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="row">

		<div class="col-sm-4">

			<div class="card" style="width: 100%;">
				<a href="/uploadImage">
					<img src="{{user.image}}" class="card-img-top" alt="...">
				</a>
				{{!-- <div class="card-body">
			</div> --}}
			</div>

		</div>

		<div class="col-sm-8 card" id="profile-info" style="padding: 15px 25px;">
			{{!-- <h3>Profile</h3> --}}
			<h3 class="card-title"> {{user.fullname}}</h3>
			<small class="text-muted">Location</small>
			<hr>

			<p class="card-text">
				<i class="fa fa-envelope text-muted"></i> {{user.email}}
			</p>

			<p class="card-text">
				<i class="fa fa-venus-mars text-muted"></i> {{user.gender}}
			</p>

			<p class="card-text">
				<i class="fa fa-user text-muted"></i> {{user.age}}
			</p>

			<p class="card-text">
				<i class="fa fa-file-text-o text-muted"></i> {{user.about}}
			</p>

			<p class="card-text">
				<i class="fa fa-commenting text-muted"></i> {{user.wallet}} messages left
			</p>

			<br>

			<div class="text-right">
				<a href="/displayPostForm" class="btn btn-primary">Create Post</a>
				<a href="/payment" class="btn btn-secondary">Purchase Messages</a>
				<button class="btn btn-info" onclick="editProfile()">Edit Profile</button>
				<a href="/confirmDelete" class="btn btn-danger">Delete Profile</a>
			</div>

		</div>


		<div class="col-sm-8" id='profileEditor' style="display: none;">

			<form action="/updateProfile" method="POST">

				<div class="form-group">
					<label for="fullname"><small>Fullname</small></label>
					<input type="text" name="fullname" id="fullname" value="{{user.fullname}}" class="form-control">
				</div>

				<div class="form-group">
					<label for="email"><small>Email</small></label>
					<input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
				</div>

				<div class="form-group">
					<label for="gender"><small>Gender</small></label>
					<select name="gender" id="gender" class="form-control">
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>

				<div class="form-group">
					<label for="age">Age</label>
					<select name="age" id="age" class="form-control">
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
					</select>
				</div>

				<div class="form-group">
					<label for="about"><small>About me</small></label>
					<input type="text" name="about" id="about" value="{{user.about}}" class="form-control">
				</div>

				<button type="submit" class="btn btn-primary">Save</button>

			</form>

		</div>

	</div>

	<br>

	<div class="container" id="image-form" style="padding-bottom: 10px; border-radius: 4px;">

		<h2 class="center text-muted" style="padding: 20px 25px; margin-top: 10px;">Photos</h2>
		<hr>
		<div class="center">
			<button onclick="showUploadForm()" type="button" class=" mb-3 btn btn-primary btn-sm"
				id="startUpload">Upload</button>

		</div>

		<div id="show-form" style="display: none">

			<h4 class="text-muted center"><small><i class="fa fa-spinner" id="spinner"
						style="display: none;"></i></small>
			</h4>

			<form action="/uploadPictures" method="POST" id="upload-form">
				<div class="form-group">
					<button type="button" class="btn btn-info upload-btn">Choose image</button>
					<input type="file" name="upload" id="upload-input" style="display: none;">
				</div>
				<div class="form-group">
					<button type="button" onclick="showSpinnerAndSubmit()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>

		<script>
			function showUploadForm() {
				document.getElementById('startUpload').style.display = 'none';
				document.getElementById('show-form').style.display = 'block';
			}

			function showSpinnerAndSubmit() {
				document.getElementById('upload-form').style.display = 'none';
				document.getElementById('spinner').style.display = 'block';
				setTimeout(function () {
					document.getElementById('upload-form').submit();
				}, 7000);
			}
		</script>

		<div class="row">
			{{#each user.pictures}}
			<div class="col-sm-2">
				<div class="card" style="width: 100%;">

					<img src="{{image}}" class="card-img-top">
					<div class="card-body center">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
							data-target="#exampleModal">
							<i class="fa fa-search-plus"></i>
						</button>
						<a href="/deletePicture/{{_id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
					</div>
				</div>
			</div>

			<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{image}}" class="card-img-top img-fluid">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			{{else}}
			<div class="center col-sm">
				<h4 class="text-muted"><small>No images</small></h4>
			</div>
			{{/each}}
		</div>
		<hr>
	</div>


	{{#if user.friends}}
	<div class="container" style="padding-bottom: 10px; border-radius: 4px;">

		<h2 class="center text-muted" style="padding: 20px 25px; margin-top: 10px;">Friends</h2>
		<hr>
		<div class="row">
			{{#each user.friends}}
			<div class="col-sm-2">
				<div class="card" style="width: 100%;">
					<a href="/userProfile/{{friend._id}}">
						<img src="{{friend.image}}" class="card-img-top" alt="...">
					</a>
					<div class="center">
						<p class="card-title text-muted">{{friend.fullname}}</p>
					</div>
				</div>
			</div>

			{{else}}

			{{/each}}
		</div>
	</div>
	<hr>
	{{/if}}

	<div class="container" style="padding-bottom: 10px; border-radius: 4px;">
		<h2 class="center text-muted" style="padding: 20px 25px; margin-top: 10px;">My Posts</h2>

		{{#each posts}}

		<div class="card" style="margin-bottom: 15px; padding: 10px;">
			<div class="media">
				<img src="{{postUser.image}}" class="mr-3 chatroom-users" style="border-radius: 4px;">
				<div class="media-body">

					<h5 class="mt-0 text-muted">{{title}}
						<small> <i class="{{icon}}"></small></i>
					</h5>

					<a href="/userProfile/{{postUser._id}}">
						<h5 class="mt-0 text-muted"><small>{{postUser.fullname}}</small></h5>
					</a>

					<p>{{body}}</p>

					{{#if image}}
					<a href="/fullPost/{{_id}}">
						<img src="{{image}}" class="img-fluid" style="border-radius: 4px;">
						<br>
					</a>
					{{/if}}

					<small class="text-muted">{{getLastMoment date 'hour'}}</small>

					<small class="pull-right">
						<a href="/editPost/{{_id}}" class="post-icons"><i class="fa fa-pencil"></i> Edit</a>
						<a href="/deletePost/{{_id}}" class="post-icons"><i class="fa fa-trash"></i> Delete</a>
					</small>

				</div>
			</div>
		</div>

		{{!-- <div class="card" style="margin-bottom: 15px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{{image}}" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{title}} <small> <i class="text-muted {{icon}}"></i> </small></h5>
					<h5 class="text-muted"><small>{{postUser.fullname}}</small></h5>
					<p class="card-text">{{body}}</p>
					<p class="card-text"><small class="text-muted">{{getLastMoment date 'hour'}}</small></p>
				</div>
			</div>
		</div>
	</div> --}}

		{{else}}

		<h3 class="text-muted center"><small> No posts found</small></h3>

		{{/each}}
	</div>
</div>

<script>
	function editProfile() {
		document.getElementById('profile-info').style.display = 'none';
		document.getElementById('profileEditor').style.display = 'block';
	}
</script>
