<div class="card-deck">
	{{#each singles}}

	{{#if online}}

	<div class="row">
		<div class="col">
			<img src="{{image}}" class="rounded-image" width="">
			<br>
			<i class="fa fa-circle green"> Online</i>
		</div>

	</div>

	{{else}}

	<div class="row">
		<div class="col">
			<img src="{{image}}" class="rounded-image" width="">
			<br>
			<i class="fa fa-circle red"> Offline</i>
		</div>

	</div>

	{{/if}}



	{{else}}
	<p>No users found</p>
	{{/each}}
</div>


<div class="card">
	<img src="{{image}}" class="card-img-top">
	<div class="card-body">
		<p class="green">Online</p>
	</div>
</div>
