<div class="row">

	<div class="col-sm-4">

		<div class="card" style="width: 90%;">
			<img src="{{oneUser.image}}" class="card-img-top" alt="...">
			<div class="card-body center">

				<a href="/startChat/{{oneUser._id}}" class="btn btn-primary">
					<i class="fa fa-commenting"></i>
				</a>

				{{#if smile}}
				<a href="/deleteSmile/{{oneUser._id}}" class="btn btn-danger">
					<i class="fa fa-smile-o" id="newSmile"></i>
				</a>
				{{!-- <script>
					$(document).ready(function () {
						setInterval(function () {
							$('#newSmile').attr('style', 'color: white')
						}, 10);
						setInterval(function () {
							$('#newSmile').attr('style', 'color: red')
						}, 10);
					})
				</script> --}}

				{{else}}
				<a href="/sendSmile/{{oneUser._id}}" class="btn btn-outline-danger">
					<i class="fa fa-smile-o"></i>
				</a>
				{{/if}}

			</div>
		</div>

	</div>

	<div class="col-sm-8 card" id="profile-info" style="padding: 15px 25px;">
		{{!-- <h3>Profile</h3> --}}
		<h3 class="card-title"> {{oneUser.fullname}}</h3>
		<small class="text-muted">Location</small>
		<hr>

		<p class="card-text">
			<i class="fa fa-envelope"></i> {{oneUser.email}}
		</p>

		<p class="card-text">
			<i class="fa fa-venus-mars"></i> {{oneUser.gender}}
		</p>

		<p class="card-text">
			<i class="fa fa-file-text-o"></i> {{oneUser.about}}
		</p>

	</div>

</div>
