<div class="row">

	<div class="col-sm-4">

		<div class="card" style="width: 18rem;">
			<img src="{{oneUser.image}}" class="card-img-top" alt="...">
			<div class="card-body center">
				<a href="#" class="btn btn-primary">Send message</a>
			</div>
		</div>

	</div>

	<div class="col-sm" id="profile-info">
		<h3>Profile</h3>
		<h5 class="card-title"><i class="fa fa-user"></i> {{oneUser.fullname}}</h5>
		<p class="card-text"><i class="fa fa-envelope"></i> {{oneUser.email}}</p>
		<p class="card-text"><i class="fa fa-mars"> {{oneUser.gender}} </i></p>
		<p class="card-text"><i class="fa fa-id-card"> {{oneUser.about}} </i></p>
		<br>
	</div>

</div>
